@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The crew here at M!!! M!!! are a group of musicians that are crazy enough to believe, with the right approach and methodology to music education, EVERYONE can play. That's right. You heard us EVERYONE! Thanks for stopping by. Hope to see you again soon. As a matter of fact, on your next visit, bring someone with you!</p>
