@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="background-color:lightslategrey; opacity: 75%";>
        <style>.jumbotron{margin-top: -3.5em}</style>
    <h1>Welcome to Mighty!!! Maestro!!! </h1>
    <p class="lead">Work your way through different venues and challenges, while you are tested and challenged on your music knowledge, acquiring skills that will help you become ... A MIGHTY!!! MAESTRO!!!</p>
    <a href="https://localhost:44332/Maestro/Create" class="btn btn-warning btn-lg active" style="margin-top: 1em; width: 42em">Create Your Maestro Here!!! &raquo;
        </a>
</div>
<!--Centered Buttons in DIV-->
<div class="row" style="display:flex; justify-content:space-around">
    @*<div class="col-md-3 text-center">
        <h2></h2>
        <p>
          
        </p>
        <p><a class="btn-lg btn-default" href="https://localhost:44332/Question/Create">Create a Question &raquo;</a></p>
    </div>*@
    <div class="col-md-3 text-center">
        <h2></h2>
        <p></p>
        <p><a class="btn-lg btn-primary" href="https://localhost:44332/Home/About">Learn About the M!!! M!!! Crew &raquo;</a></p>
    </div>
    @*<div class="col-md-3 text-center">
        <h2></h2>
        <p></p>
        <p><a class="btn-lg btn-default" href="https://localhost:44332/Venue/Create">Create a Venue &raquo;</a></p>
    </div>*@
</div>